*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    color: #ffffff;
    /* background-color: black; */
    background:#020F3B;
}

.header
{
    position: fixed;
    left: 0;
    width: 100%;
    padding: 2px 2%;
    background: rgb(26, 2, 86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 10px;
    color:rgb(252, 252, 252);
    text-decoration: none;
    font-weight: 600;
}

.navebar a{
    display:inline-block; 
    font-size: 6px;
    color:#ffff;
    text-decoration: none;
    font-weight:600px;
    margin-left: 2px; 
    transition: .3s;
    position: relative;
    top: -3px;
    
}
.navebar a:hover{
    color: #0ef;
}
.home {
    position: relative;
    /* top: 10px; */
    width: 100%;
    justify-content: space-between;
    height: 100vh;
   font-size: 4px;
   background: url(image/fort8.jpg)no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 2px 2% 0;
}
.home-content{
    max-width: 600px;
    position: relative;
    top:15px;
}
.home-content h3{
    font-size: 8px;
    font-weight: 700;
}
.home-content h1{
    font-size: 16px;
    font-weight: 750;
    margin: -3px 0;

}
.home-content p{
    font-size: 4px;
}
.home-sci a{
     text-decoration: none;
     display:inline-flex;
     justify-content: center;
     align-items: center;
     width: 8px;
     height: 8px;
     background: transparent;
     border: 0.5px solid #0ef;
     border-radius: 50%;
     color: #0ef;
     margin:5px 5px 5px 0;
}
.home-sci a:hover{
    color:black;
    background:#0ef;
    box-shadow:0 0 5px #0ef;
}
.btn-box{
    display: inline-block;
    color: black;
    text-decoration: none;
    background: #00eeff;
    border-radius: 10px;
    padding: 3px 5px;
    letter-spacing: 0.2px;
    font-size: 4px;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan;
}


.about{
    display:grid;
    /* grid-template-columns: repeat(2,1fr); */
    align-items: center;
    /* gap: 1.5rm; */
}
.about-text h2{
    font-size: 10px;
    color: #0ef;
    text-align: center;
    padding:4px 0px 0px 0px;
}
.about-text h2 span{
    color: #0ef;
}

.about p{
    font-size: 5px;
    /* padding: 10px; */
    /* text-align: center; */
    margin: 5px;
}
.about h4{
    font-size:6px;
    text-align: center;
    padding:2px;
}
.Education h1{
    font-size: 10px;
    text-align: center;
    color: #0ef;
    /* padding:0.3px; */
}
.list i{
      font-size: 8px;
}



#Education{
    color: aliceblue;
    font-size: 4px;
    line-height: 1.4;
    margin-bottom:2rem;
}
.list div{ 
    /* display:grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(259,1fr)); */
    /* grid-gap:40px; */
    /* gap:10px; */
    /* position: relative; */
    /* left: 30px; */
    padding:5px;
    margin:10px;
    /* justify-content:space-around; */
    /* white-space */
    display: inline-block;
    position: relative;
    right: -25px;
    text-align: center;
}

.list div{
    background: transparent;
    box-shadow: 1px 1px 20px #012290f7;
    border-radius: 4px;
}
.list div:hover{
    color:#0ef;
}


.sub-title1{
    font-size: 10px;
    text-align: center;
    /* padding: 5px; */
    color: #00eeff;
}
.sub-title1 span{
    color: #0ef;
}
.sub-title1{
    position:relative;
    top: -30px;
}


.heading1{
    font-size: 8px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.bar{
    font-size: 6px;
}
.Technical-bars .bar{
    /* margin-top:60px 0; */
    font-size:px;
}
.Technical-bars .bar .info span{
    /* font-size: 10px; */
     font-weight: 500;
     animation: showText 0.5s 1s linear forwards;
     opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 60%;
    height: 2px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #00eeff;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.python span{
    width: 70%;
}
.progress-line.html span{
    width: 80%;
}
.progress-line.css span{
    width: 90%;
}
.progress-line.javascript span{
    width: 75%;
}
.progress-line.mysql span{
    width: 80%;
}
.progress-line.django span{
    width: 75%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 2px;
    background-color: #000;
    color: #ffffff;
    font-size: 4px;
    border-radius: 3px;
    top:-8px;
    right: 1px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.python span::after{
    content: "70%";
}
.progress-line.html span::after{
    content: "80%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.javascript span::after{
    content: "75%";
}
.progress-line.mysql span::after{
    content: "80%";
}
.progress-line.django span::after{
    content: "75%";
}
.progress-line span::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s liner forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.container1{
    /* padding: 50px; */
    /* margin-left: 40px; */
}
.Technical-bars{
     padding: 2px;
     margin-left: 75px;
}
.container1{
    margin-top:-20px;
    letter-spacing:0.4px;
}
.main-text{
    /* padding-top: 5px; */
    margin-top:10px;
    /* padding:10px; */
}
.main-text h2{
    font-size: 10px;
    /* line-height: 1; */
    text-align: center;
    padding-bottom: 10px;
    color: #00eeff;
}
.Portfolio-content img{
    height: 80px;
    width:100px;
    margin-left: 15px;
    /* padding:10px; */
    border-radius:5px;
    margin-top: 5px;
    /* margin-right: px; */
    /* border-bottom-left-radius:20px; */
    /* border-end-end-radius: 20px; */
    /* padding-bottom: 10px; */
}
.Portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius:8px;
    cursor: pointer;
}
.Portfolio-content h5{
       font-size: 5px;
}
.Portfolio-content p{
    font-size: 5px;
}
.row img{
    width: 120px;
    border-radius:8px;
    display: block;
    transition:transform 0.5s;
    /* padding:px; */
    margin-left:9px;
    /* align-items: center; */
    /* text-align: center; */
}
.layer{
    width:0px;
    height:0px;
    background: linear-gradient(rgba(0,0,0,0.1),#00eeff);
    position: absolute;
    /* border-radius:8px; */
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding:0 10px; */
    transition: height 0.5s;
    /* margin-left:px; */
}
.layer h5{
    color: #000;
    font-size:8px;
    font-weight: 5px;
    /* margin-top: 20px; */
    /* padding: 10px; */
    /* text-align: center; */
}
.layer p{
    color: #000;
    font-size: 5px;
    text-align: center;
    line-height:1.8;
    /* margin-top:-20px; */
    padding: 10px;
}
.row:hover img{
    /* transform: scale(1.1); */
    border-radius:8px;
}
.row:hover .layer{
    height:80px;
    width:120px;
    /* transform:scale(1.1); */
    margin-left:9px;
    border-radius: 8px;
    /* transition:down 10s; */
}
/* .contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:3rem;
} */
.contact-text h2{
    font-size: 10px;
    text-align: center;
    /* line-height: 1; */
    padding:8px;
    color: #00eeff;
}
.contact-list i{
    display: inline-block;
    color: #00eeff;
    font-size: 5px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01)translateY(-5px);
    color: #00eeff;
}
.contact-list li{
    list-style: none;
    font-size: 5px;
    font-weight: 600;
    /* letter-spacing: 0.1px; */
}
/* .contact-icon i{} */
.contact-form form{
     position: relative;   
     text-align: center;
     /* width: 200px; */
     
     /* display: inline-block;  */
     /* display:grid; */
     /* size: 10px; */

}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 50%;
    /* text-align: center; */
    /* size:22px; */
    font-size: 0.5rem;
    padding: 3px;
    /* margin:5px; */
    background:black;
    color:rgb(144, 135, 135);
    border-radius:2px;
    margin-bottom:8px;
    margin:-5px;
    /* line-height: 10px; */
    font-weight: 600px;
    /* display:flex; */
}
.contact-form textarea{
    resize: none;
    height: 30px;
    margin-top: 5px;
}
.contact-form form .send{
    display: inline-block;
    color: black;
    text-decoration: none;
    background: #00eeff;
    border-radius: 10px;
    padding: 3px 5px;
    letter-spacing: 0.3px;
    font-size: 4px;
    font-weight: 600;
    opacity: 10;
    animation:slideTop 1s ease forwards;
    animation-delay: 2s;
    /* box-shadow: 0 0 5px #00eeff; */
    width: 40px;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px #00eeff;
    font-weight: 800;
}
.contact-form{
    margin-top:-5px;
    /* margin-bottom:-15px; */
}
.background{
    background-color: black;    
    padding: 5px;
}
.contact-icons a i{
    margin-right: 80px;
    margin-top: 30px;
}
.contact-list{
    background-color: #000;
    padding: 6px;
    margin-top: 10px;
}


.text{
    color: #00eeff;
}